.sign-in-failure
{
    display:none
}


.welcome-new-user
{
    display:none
}


.update-user-account
{
    display:none
}

#logout-button
{
    display:none
}

.main-page
{
    display:none
}

#topic-display
{
    display:none
}